<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/dashboard">Web Bank</a>
  <input class="form-control form-control-dark w-100" disabled="true" [(ngModel)]="user" name="user" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/login">Salir</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">
              <span data-feather="home"></span>
              Inicio 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/asesores">
              <span data-feather="users"></span>
              Gestión Asesores <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes">
              <span data-feather="users"></span>
              Gestión Clientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tarjetas">
              <span data-feather="bar-chart-2"></span>
              Gestión Tarjetas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/consumos">
              <span data-feather="layers"></span>
              Historial de consumos
            </a>
          </li>
        </ul>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div align="center" >
          <br/>
          <h2>Gestión de Asesores</h2>
        </div>
      <form>
      <div class="mb-3">
          <label for="nombre">Nombre del Asesor</label>
          <input type="text" [(ngModel)]="asesor.nombre" name="nombre" class="form-control" id="nombre" placeholder="Nombre del Asesor">
          <div class="invalid-feedback">
            Por favor ingrese un nombre de asesor
          </div>
      </div>

      <div class="mb-3">
        <label for="especialidad">Especialidad del Asesor</label>
        <input type="text" [(ngModel)]="asesor.especialidad" name="especialidad" class="form-control" id="especialidad" placeholder="Especialidad del Asesor">
        <div class="invalid-feedback">
          Por favor ingrese una especialidad
        </div>
    </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="guardar()">Guardar</button>
      <button class="btn btn-danger btn-lg btn-block" type="submit" (click)="limpiar()">Limpiar</button>
      
      <div *ngIf="mensajeExito" class="styleMensaje">
          <div class="alert alert-primary alert-dismissible fade show " role="alert">
              <strong>{{mensajeExito}}</strong> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarSpan()">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      </div>

      <div *ngIf="mensajeError" class="styleMensaje">
          <div class="alert alert-danger alert-dismissible fade show " role="alert">
              <strong>{{mensajeError}}</strong> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrarSpan()">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      </div>

      

      
      <div class="table-responsive top10table">
        <div align="center" >
            <h2>Lista de Asesores</h2>
        </div>
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Especialidad</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let asesor of listAsesores">
              <td>{{ asesor.asesId }}</td>
              <td>{{ asesor.nombre }}</td>
              <td>{{ asesor.especialidad }}</td>
              <td>
                <button (click)="borrar(asesor)" >Eliminar</button>
                <button class="marginButton" (click)="selecccionarAsesor(asesor)">Editar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </form>

    </main>

  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Icons -->
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace();
</script>


